<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="apiBase" value="https://2lhqd1ma7l.api.quickmocker.com/" />
		<add key="apiAuthHeader" value="Bearer {asd123asd123}" />
		<add key="logPath" value="C:/temp/log.txt" />
		<add key="csvPath" value="C:/temp/data.csv" />
	</appSettings>
</configuration>