<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ApiUrl" value="http://localhost/test.json" />
		<add key="LogPath" value="C:\Users\reinist\source\repos\ApiToCsv\ApiToCsv\ApiToCsv.log" />
		<add key="Key0" value="2" />
	</appSettings>
</configuration>